#outer-node {
    font-family: fantasy;
    color: rgb(3, 60, 3);
    align-content: center;
    text-align: center;
    background-color: rgb(34, 191, 175);
}

html {
    align-content: center;
    font-family: sans-serif;
    color:darkslategray;
    text-align: center;
    align-content: center;
}

img {
    border: 5px solid rgb(220, 225, 230);
    border-radius: 4px;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }